.cuotasdiv{
    display: flex;
    justify-content: center;
}
.card  h5{
    display: flex;
    justify-content: center;
    
   
}
/* .texto {
    overflow: hidden;
    
    text-overflow: ellipsis;
} */
.card  h4{
    display: flex;
    justify-content: center;
    color: rgb(187, 24, 24);
    font-size: 35px;
    font-weight: 420;
    
}
.card p{
    display: flex;
    justify-content: center;
}

.cuotas{
    margin-top: 5px;
    text-align: center;
    padding-left: 10px;
    color: white;
    width: 60%;
    font-size: small;
    border-radius: 5%;
    background-color:rgb(52, 105, 197);
}
main{
   display: flex;
   justify-content: center;
}
.cardsContainer{
    background: #d21414;
    width: 55%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.card{
margin-bottom: 20px;

}


.card :hover{
    cursor: pointer;
   box-shadow: 30px 20px #000000;
 
}