.cuotasdiv{
    display: flex;
    justify-content: center;
}
.card  h5{
    display: flex;
    justify-content: center;
}
.card p{
    display: flex;
    justify-content: center;
}

.cuotas{
    text-align: center;
    padding-left: 10px;
    color: white;
    width: 70%;
    font-size: small;
    border-radius: 5%;
    background-color:rgb(52, 105, 197);
}
main{
   display: flex;
   justify-content: center;
}
.cardsContainer{
    background: #000;
    width: 55%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.card{
margin-bottom: 20px;
}


.card :hover{
    cursor: pointer;
    
 
}